@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-reg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-bd.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-it.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-bdit.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-ltit.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}



:root {
    --primary-color: #174251;
    --secondary-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
    font-family: 'The Seasons', sans-serif;
    color: var(--primary-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 24px;
}

nav{
    display: flex;
    background-color: var(--primary-color);
    color: white;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    font-family: 'The Seasons', sans-serif;
}
nav ul {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
nav ul li {
    list-style: none;
    color: white;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav a:hover{
    color: lightblue;
}




section {
    padding: 0 32px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

section:nth-child(even) {
    background-color: var(--primary-color);
    color: white;
}

section:nth-child(even) h1 {
    color: white;
}


.team-member {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.team-member-name {
    font-family: 'The Seasons', sans-serif;
    font-size: 1.5rem;
}




@media (min-width: 768px) {
    nav ul{
        display: flex;
    }
    section {
        flex-direction: row;
        justify-content: space-between;
        padding: 32px;
    }

    section h1 {
        text-align: center;
        width: 50%;
    }

    section.zoea-project h1 {
        width: 100%;
    }

    section .content {
        margin-top: 0;
        width: 50%;
    }
    section.team {
        flex-direction: column;
        justify-content: unset;
        padding-top: 5em;
    }
    section.team .content {
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr;
        gap: 5em;
        margin-top: 32px;
    }

}