@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-reg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-bd.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-it.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-bdit.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-ltit.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}



:root {
    --primary-color: #174251;
    --secondary-color: #fff;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

h1,
h2 {
    font-family: 'The Seasons', sans-serif;
    color: var(--primary-color);
    text-transform: lowercase;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
}

h2 {
    font-size: 24px;
}

.background-image{
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: -1; */
    position: relative;
    /* background-image: url("https://images.pexels.com/photos/1249586/pexels-photo-1249586.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
}

.background-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-image.parallax:nth-child(odd)::after {
    background-color: rgba(23, 66, 81, 0.9);
}
.background-image.parallax:nth-child(even)::after {
    background-color: rgba(255, 255, 255, 0.9);
}

.zoea-project.background-image {
    background-image: url("https://images.pexels.com/photos/920161/pexels-photo-920161.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.the-solution.background-image {
    background-image: url("https://images.pexels.com/photos/2156311/pexels-photo-2156311.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.approach.background-image {
    background-image: url("https://images.pexels.com/photos/2289409/pexels-photo-2289409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.sustentability-model.background-image {
    background-image: url("https://images.pexels.com/photos/19599903/pexels-photo-19599903/free-photo-of-camarao-de-fogo-vermelho-sangue.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.next-steps.background-image {
    background-image: url("https://images.pexels.com/photos/920163/pexels-photo-920163.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

nav {
    display: flex;
    background-color: var(--primary-color);
    color: white;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    font-family: 'The Seasons', sans-serif;
    z-index: 1000;
    transition: all 0.3s ease;
}

.sticky-nav {
    /* transform: translateY(-100%); */
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--primary-color);
}

.sticky-nav a {
    color: var(--primary-color);
}

.sticky-nav a:hover {
    color: var(--primary-color);
}

.sticky-nav li {
    color: var(--primary-color);
}

.sticky-nav li:hover {
    color: var(--primary-color);
}


nav ul {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

nav ul li {
    list-style: none;
    color: white;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: lightblue;
}




section {
    padding: 0 32px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--primary-color);
    z-index: 100;
}

section .content {
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
    margin-top: 32px;
}

section:nth-child(odd) {
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

section:nth-child(odd) h1 {
    color: white;
}

section:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--primary-color);
}

section.zoea-project {
    align-items: flex-start;
    font-family: 'The Seasons', sans-serif;
}

section.zoea-project h1 {
    font-size: 8rem;
}

section.team {
    padding-bottom: 5em;
    padding-top: 5em;
}

section.team .content {
    gap: 16px;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

.team-member-name {
    font-family: 'The Seasons', sans-serif;
    font-size: 1.5rem !important;
    display: flex;
    /* justify-content: space-between; */
    width: 90%;
    gap: 16px;
}

.team-member-image {
    width: 50vw;
    height: 60vw;
    max-width: 250px;
    max-height: 360px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.team-member-info {
    height: 100%;
    margin-top: 32px;
}

.team-member-name a .fa-brands {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 16px;
}




@media (min-width: 768px) {
    h1 {
        font-size: 6rem;
    }
    nav ul {
        display: flex;
    }

    nav.aside {
        height: 100vh;
        width: 150px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    nav.aside ul {
        flex-direction: column;
        align-items: flex-start;
    }
    nav.aside #logo {
        width: 100px;
        margin-bottom: 32px;
    }
    nav.aside ~ .container section {
        padding-left: calc(32px + 150px);
    }


    section {
        flex-direction: row;
        justify-content: space-between;
        padding: 32px;
        align-items: center;
        /* padding-left: calc(32px + 150px); */
    }

    section.zoea-project {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
    }

    section.zoea-project h1 {
        font-size: 9rem;
        width: 100%;
        text-align: center;
    }

    section.zoea-project p {
        font-size: 2rem;
        width: 300px;
        text-align: center;
    }



    section h1 {
        font-size: 6rem;
        width: 50%;
    }

    section .content {
        margin-top: 0;
        width: 50%;
    }

    section.team {
        flex-direction: column;
        justify-content: unset;
        height: auto;
    }

    section.team .team-member {
        width: 25%;
        min-width: 200px;
    }

    section.team .team-member-image {
        max-width: 200px;
        max-height: 240px;
    }

    section.team .team-member p {
        font-size: 12px;
    }

    section.team .content {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 2em;
        margin-top: 32px;
    }

}