@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-reg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-bd.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-it.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-bdit.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/Fontspring-DEMO-theseasons-ltit.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}



:root {
    --primary-color: #174251;
    --secondary-color: #fff;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1,
h2 {
    font-family: 'The Seasons', sans-serif;
    color: var(--primary-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 24px;
}

nav {
    display: flex;
    background-color: var(--primary-color);
    color: white;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    font-family: 'The Seasons', sans-serif;
}

nav ul {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

nav ul li {
    list-style: none;
    color: white;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: lightblue;
}




section {
    padding: 0 32px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--primary-color);
}

section .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

section:nth-child(odd) {
    background-color: var(--primary-color);
    color: white;
}

section:nth-child(odd) h1 {
    color: white;
}

section.zoea-project {
    align-items: flex-start;
    font-family: 'The Seasons', sans-serif;
}

section.zoea-project h1{
    font-size: 8rem;
}

section.team {
    padding-bottom: 5em;
    padding-top: 5em;
}


.team-member {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

.team-member-name {
    font-family: 'The Seasons', sans-serif;
    font-size: 1.5rem !important;
    display: flex;
    /* justify-content: space-between; */
    width: 90%;
    gap: 16px;
}

.team-member-image {
    width: 50vw;
    height: 60vw;
    max-width: 250px;
    max-height: 360px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.team-member-info {
    height: 100%;
    margin-top: 32px;
}
.team-member-name a .fa-brands {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 16px;
}




@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }

    nav ul {
        display: flex;
    }

    section {
        flex-direction: row;
        justify-content: space-between;
        padding: 32px;
    }

    section.zoea-project {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
    }

    section.zoea-project h1 {
        font-size: 10rem;
        width: 100%;
    }



    section h1 {
        text-align: center;
        width: 50%;
    }

    section .content {
        margin-top: 0;
        width: 50%;
    }

    section.team {
        flex-direction: column;
        justify-content: unset;
        height: auto;
    }

    section.team .team-member {
        width: 25%;
        min-width: 200px;
    }

    section.team .team-member-image {
        max-width: 200px;
        max-height: 240px;
    }

    section.team .team-member p {
        font-size: 12px;
    }

    section.team .content {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 2em;
        margin-top: 32px;
    }

}